{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <style>
        .head {
            color: coral;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Home</title>
</head>

<body>
    <center>
        <div>
            <h1><span class="head">E</span>mployee <span class="head">M</span>anagement <span class="head">S</span>ystem
            </h1><br>
        </div>
        <div>
            <a href="{% url 'view'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View_All_Employees</a>
            <a href="{% url 'add'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add_Employee</a>
            <a href="{% url 'remove'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Remove_Employe</a>
            <a href="{% url 'filter' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Filter_Employees_Details</a>
        </div>
    </center>
    {% block body%}
   

    {% endblock body%}
</body>

</html>